<div class="footer-wrapper">   
  <footer class="fixed-bottom">  
    <div class="container">
      <span class="copyright">
        &copy; Copyright <a href="/" target="_blank">Fire Fighting Equipment</a> All Rights Reserved.
      </span>
    </div>
  <footer>
</div>
