<div class="headerNav">
  <div class="container">
    <div class="row headerNavBox">
    <%= link_to "Home", "/", class: "col-xs-6 col-sm-3 headerNavBtn"%>
    <%= link_to "About", "/", class: "col-xs-6 col-sm-3 headerNavBtn"%>
    <%= link_to "User", "/", class: "col-xs-6 col-sm-3 headerNavBtn"%>
    <%= link_to "Log in", "/", class: "col-xs-6 col-sm-3 headerNavBtn"%>
    </div>
  </div>
</div>
