<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/syoubousya1.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
            <div class="col-xs-6 col-sm-12">
              <h4>About</h4>
              <p>webアプリケーションの概要を説明します。
              <%= link_to "Click here", homes_about_path, class: "btn-gradient-radius"%>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/kanchiki.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
            <div class="col-xs-6 col-sm-12">
              <h4>消防用設備等紹介</h4>
              <p>各消防用設備について説明します。</p>
              <%= link_to "Click here", homes_introduce_path, class: "btn-gradient-radius"%>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/syoukaki.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
          <div class="col-xs-6 col-sm-12">
            <h4>消防用設備等検索</h4>
            <p>建物情報を登録すると、必要な消防用設備を知ることができます。</p>
            <%= link_to "Click here", homes_search_path, class: "btn-gradient-radius"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
