<div id="about" class="section about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-12">
        <div class="col-xs-6 col-sm-12">
          <%# <img src="assets/syoubousya1.png" alt="" class="img-responsive" style="width:100%;"/> %>
        </div>
        <div class="col-xs-6 col-sm-12">
          <h4>About</h4>
          <p>webアプリケーションの概要を説明します。</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card-link">
        <%= link_to homes_introduction_path, 'data-turbolinks': :false do %>
          <div class="card-group top-card scroll-reveal">
            <div class="card h-100">
              <img src="assets/automatic_fire_alarm_equipment.png" alt="" class="img-responsive" style="width:100%;">
              <div class="card-body">
                <h4>Introduction</h4>
                <p class="card-text">一般的によく使われている各消防用設備について説明します。</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-link">
        <%= link_to new_building_path, 'data-turbolinks': :false do %>
          <div class="card-group top-card scroll-reveal">
            <div class="card h-100">
              <img src="assets/building.png" alt="" class="img-responsive" style="width:100%;">
              <div class="card-body">
                <h4>Building</h4>
                <p class="card-text">名称や住所などの建物情報を登録することができます。</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-link">
        <%= link_to buildings_path, 'data-turbolinks': :false do%>
          <div class="card-group top-card scroll-reveal">
            <div class="card h-100">
              <img src="assets/syoukaki.png" alt="" class="img-responsive" style="width:100%;">
              <div class="card-body">
                <h4>Search</h4>
                <p class="card-text">登録された建物情報から、必要な消防用設備を知ることができます。</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
