<div class="section">
  <h1>introduce</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <h4>消火器</h4>
            <hr>
            <p>Click hereを押すと詳細が表示されます</p>
            <a class="js-modal-open btn-gradient-radius" href="" data-target="modal01">Click here</a>
            <div id="modal01" class="modal js-modal">
              <div class="modal_bg js-modal-close"></div>
              <div class="modal_content">
                <h5>消火器</h5>
                <hr>
                <a class="js-modal-close btn-gradient-radius" href="">Close</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <h4>屋内消火栓設備</h4>
            <hr>
            <p>Click hereを押すと詳細が表示されます</p>
            <a class="js-modal-open btn-gradient-radius" href="" data-target="modal02">Click here</a>
            <div id="modal02" class="modal js-modal">
              <div class="modal_bg js-modal-close"></div>
              <div class="modal_content">
                <h5>屋内消火栓設備</h5>
                <hr>
                <a class="js-modal-close btn-gradient-radius" href="">Close</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <h4>スプリンクラー設備</h4>
            <hr>
            <p>Click hereを押すと詳細が表示されます</p>
            <a class="js-modal-open btn-gradient-radius" href="" data-target="modal03">Click here</a>
            <div id="modal03" class="modal js-modal">
              <div class="modal_bg js-modal-close"></div>
              <div class="modal_content">
                <h5>スプリンクラー設備</h5>
                <hr>
                <a class="js-modal-close btn-gradient-radius" href="">Close</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <h4>水噴霧消火設備</h4>
            <hr>
            <p>Click hereを押すと詳細が表示されます</p>
            <a class="js-modal-open btn-gradient-radius" href="" data-target="modal04">Click here</a>
            <div id="modal04" class="modal js-modal">
              <div class="modal_bg js-modal-close"></div>
              <div class="modal_content">
                <h5>水噴霧消火設備</h5>
                <hr>
                <a class="js-modal-close btn-gradient-radius" href="">Close</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <h4>泡消火設備</h4>
            <hr>
            <p>Click hereを押すと詳細が表示されます</p>
            <a class="js-modal-open btn-gradient-radius" href="" data-target="modal05">Click here</a>
            <div id="modal05" class="modal js-modal">
              <div class="modal_bg js-modal-close"></div>
              <div class="modal_content">
                <h5>泡消火設備</h5>
                <hr>
                <a class="js-modal-close btn-gradient-radius" href="">Close</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <h4>不活性ガス消火設備</h4>
            <hr>
            <p>Click hereを押すと詳細が表示されます</p>
            <a class="js-modal-open btn-gradient-radius" href="" data-target="modal06">Click here</a>
            <div id="modal06" class="modal js-modal">
              <div class="modal_bg js-modal-close"></div>
              <div class="modal_content">
                <h5>不活性ガス消火設備</h5>
                <hr>
                <a class="js-modal-close btn-gradient-radius" href="">Close</a>
              </div>
            </div>
          </div>
        </div>
      </div>