@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

// header部分
.header{
  border-top:10px solid rgb(177, 173, 173);
}
.logo{
  margin:0.5em auto;
  display:block;
}

.logo-position {
  margin: 0 auto;
}

// headerNav部分
.headerNavBtn{
    text-align:center;
    height:3em;
    line-height:3em;
    color:#5F5F5F;
    font-size: 20px;
    width: 50%;
}

.headerNavBtn:hover{
    background:#EEE;
    text-decoration: none;
}

// carousel部分
.mainVisual_wrapper .container{
  padding:0;
}
.mainVisual_wrapper.section{
  padding:0;
  text-align: center;
}

.carousel-item .img-fluid {
width:100%;
height:auto;
}

.carousel-item{
height: auto;
}

.carousel-item a {
display: block;
width:100%;
}

.carousel-item .show-image {
display: block;
width:100%;
}

// 中央section部分
.section{
    background: rgb(177, 173, 173);
    background: -moz-linear-gradient(50% 0% -90deg, rgb(236, 236, 236) 0%, rgb(177,173,173) 100%);
    background: -o-linear-gradient(-90deg, rgb(236, 236, 236) 0%, rgb(177,173,173) 100%);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgb(236, 236, 236)), color-stop(1, rgb(177,173,173)));
    background: -webkit-linear-gradient(-90deg, rgb(236, 236, 236) 0%, rgb(177,173,173) 100%);
    background: linear-gradient(180deg, rgb(236, 236, 236) 0%, rgb(177,173,173) 100%);
    padding: 2em 0 3em;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff000000,endColorstr=#ff232829,GradientType=0)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff000000,endColorstr=#ff232829,GradientType=0);
}


.col_box{
    background:#FFF;
    border-radius:3px;
    padding:15px 0 15px;
    margin-bottom:1em;
}


.copyright{
    text-align:center;
    margin:0.5em auto;
    display:block;
}